@import "tailwindcss";

@font-face {
  font-family: Space-Grotesk;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("./assets/font/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf")
    format("woff2");
}

@theme {
  --color-White: hsl(0, 0%, 100%);
  --color-Light-grayish-violet: hsl(270, 3%, 87%);
  --color-Dark-grayish-violet: hsl(279, 6%, 55%);
  --color-Very-dark-violet: hsl(278, 68%, 11%);

  --color-Red-errors: hsl(0, 100%, 66%);

  --font-Space-Grotesk: "Space-Grotesk";

  --breakpoint-rw: 1440px;
}

@layer components {
  .label {
    @apply uppercase text-xs tracking-[2px] block mb-2 mt-6;
  }
  .input {
    @apply bg-White border border-Light-grayish-violet rounded-lg p-3 w-[100%];
  }
  .input:focus {
    @apply outline-none border-1 border-Very-dark-violet;
  }
}
