@import "tailwindcss";

@theme {
  --color-White: hsl(0, 0%, 100%);
  --color-Light-grayish-violet: hsl(270, 3%, 87%);
  --color-Dark-grayish-violet: hsl(279, 6%, 55%);
  --color-Very-dark-violet: hsl(278, 68%, 11%);
}
